<div class="w3-margin">
<h1>Welcome!</h1>
<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>
<h1>Log In</h1>
<form class="w3-form" action="/sessions" method="post" role="form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label class="w3-label" for="email">Email:</label>
    <input class="w3-input" type="email" class="form-control" name="email">
  </p>
  <p>
    <label class="w3-label" for="password">Password:</label>
    <input class="w3-input" type="password" class="form-control" name="password">
  </p>
  <button class="w3-btn w3-hover-blue-grey w3-margin w3-right" type="submit" class="btn btn-default">Log In</button>

</form>
<h1>Register</h1>
<% if flash[:errors] %>
  <%= flash[:errors] %>
  <% end %>
<form class="w3-form" action='/users/' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <P>
    <label class="w3-label" for="name">Name:</label>
    <input class="w3-input" id="name" type="text" name="user[name]">
  </P>
  <P>
    <label class="w3-label" for="alias">Alias:</label>
    <input class="w3-input" id="alias" type="text" name="user[alias]">
  </P>
  <p>
    <label class="w3-label" for="email">Email</label>
    <input class="w3-input" id="email" type="text" name="user[email]">
  </p>
  <p>
    <label class="w3-label" for="password">Password</label>
    <input class="w3-input" id="password" type="password" name="user[password]" >
  </p>
  <p>
    <label class="w3-label" for="confirm_PW">confirm PW:</label>
    <input class="w3-input" id="confirm_PW" type="confirm_PW" name="user[confirm_PW]">
  </p>
  <button class="w3-btn w3-hover-blue-grey w3-margin w3-right" type="submit">Register</button>
</form>
</div>
